/* Reiniciamos los margenes del navegador para que no queden huecos blancos */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #1e1e2e;
}