<div class="login-container">
  <h2>Acceso Usuario</h2>

  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label>Usuario</label>
      <input type="email" name="email" [(ngModel)]="loginData.email" required>
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" name="password" [(ngModel)]="loginData.password" required>
    </div>

    <button type="submit">Entrar</button>
  </form>

  @if(mensajeError) {
    <div class="error-msg">{{ mensajeError }}</div>
  }

  <div class="register-link">
    <span>¿No tienes cuenta?</span>
    <button class="btn-secundario" (click)="irARegistro()">Registrarse</button>
  </div>
</div>